	<html>
	<head>
	   <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	   <title>President Debate Videos</title>
	   <script src="rotate.js"></script>	   
	   <%= stylesheet_link_tag "video" %>

	  
	   <h2>The Beauty <abbr title="Cascading Style Sheets"></abbr> &nbsp;&nbsp;&nbsp;&nbsp;Debate</h2>
	   <!--<%= button_to 'back', welcome_path %>-->
	   	   	   <a href="#" class="myButton" onclick="window.location.href= '/'">Welcome</a>
	</head>
	
	<body>
	

	<div class="page-wrapper">
	<div class="main supporting" id="zen-supporting" role="main">
		<h3>
		<strong>Debate Video Title:</strong>
		<%= @video.title %>
		</h3>
  	<br>
  	  	<br>
		<p>
	  		<%= @video.embed.html_safe %>
		</p>
		<p>
	 	 <strong>Debate Topic:</strong>
	  	<%= @video.topic %>
	  	<br>
	  	<br>
	 	<strong>Debate President:</strong>
	 	  <%= @video.president %>
		</p>

		    <p>
    <strong>Wiki link:</strong>
    <%=link_to 'wiki', 'http://'+@president.wiki %>

    </p>
      <br>
  	<br>




	<h3>
	<strong>Leave Your Comment Below:</strong>
	</h3>
	  <p> </p>
	<%= form_for :comment, url: comment_add_path(@video) do |f| %>
	  <p> </p>

	<div id="comment">
	  <style>
		  #comment{    
				   float:left;
				   margin:0 0 0 5px;   
			  }
	  </style>
	  <p> 
	    <%= f.label :content %><br>
	    <%= f.text_area :content %>
	  </p>
	  <p>
    	    <%= f.label :gender %><br>
    	    <%= f.label :gender, "male", :value => "male"  %>
    	    <%= f.radio_button :gender, "male" %>
    	    <%= f.label :gender, "female", :value => "female" %>
    	    <%= f.radio_button :gender, "female", :checked => true %>
          </p>
	  <p>
	    <%= f.submit %>
	  </p>
     	</div>
        <div id="RotateButton">      
 	   <div class="slideButton">
              <div class="slider"></div>
              <div class="pointer"></div>
              <div class="panel"></div>
	   </div>
	   <p>Score</p>
	   <script>
	      (function(){
		           it = new Rotation1();
	                 })()
	   </script>
 	 </div>

	<% end %>

        <div class = "comments" style="clear:both;">
	  <h3> <strong>ALL COMMENTS</strong></h3>
	  <% @comments.each do |comment| %>
		  <p> </p>
	  <p>
	    <strong><%= comment.created_at %></strong><br>
	    <%= comment.content %>
	  </p>
	 <% end %>
        </div>


	</div>
	</div>

	</body>
	</html>
