<html>

<head>
  <meta name="Unknown Team" http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <script src="rotate.js"></script>
  <%= stylesheet_link_tag "video" %>
 <!-- <%= button_to 'back', welcome_path %>-->
 	   	   <a href="#" class="myButton" onclick="window.location.href= '/'">Welcome</a>
</head>
<body background=""> 
  <div id="mainbg">
  <div class="main supporting" id="zen-supporting" role="main">
      <div id = "left">

        <h3>
<strong>Debate Video Title:</strong>
            <%= @video1.title %>
        </h3>
<br>
        <br>
        <p>
          <%= @video1.embed.html_safe %>
        </p>
    <p>
     <strong>Debate Topic:</strong>
      <%= @video1.topic %>
      <br>
      <br>
    <strong>Debate President:</strong>
      <%= @video1.president %>
 <br>
      <br>
    <strong>Wiki link:</strong>
    <%=link_to 'wiki', 'http://'+@president1.wiki %>
    </p>
  <br>
        <br>



     <h3>
  <strong>Leave Your Comment Below:</strong>
  </h3>
        <%= form_for :comment, url: comment_add1_path(@video1, @video2) do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>
        <p>
    	    <%= f.label :gender %><br>
    	    <%= f.label :gender, "male", :value => "male"  %>
    	    <%= f.radio_button :gender, "male" %>
    	    <%= f.label :gender, "female", :value => "female" %>
    	    <%= f.radio_button :gender, "female", :checked => true %>
        </p>
        <p>
          <%= f.label :age %><br>
          <%= f.text_field :age %>
        </p>

             <p>
          <%= f.submit %>
        </p>

        <div id="RotateButton1">      
 	   <div class="slideButton">
              <div class="slider"></div>
              <div class="pointer"></div>
              <div class="panel"></div>
	   </div>
	   <p>Score</p>
	   <script>
	      (function(){
		           it = new Rotation1();
	                 })()
	   </script>
 	 </div>
        <% end %>
           <h3> <strong>ALL COMMENTS</strong></h3>
        <% @comments1.each do |comment| %>
        <p>
	        <strong><%= comment.created_at %></strong><br>
          <%= comment.content %>
        </p>
        <% end %>
      </div>
    </div>

  <div class="main supporting" id="zen-supporting" role="main">
      <div id = "right">
        <h3>
            <strong>Debate Video Title:</strong>
            <%= @video2.title %>
        </h3>
<br>
        <br>
        <p>
          <%= @video2.embed.html_safe %>
        </p>

        <p>
          <strong>Debate Topic:</strong>
          <%= @video2.topic %>
       <br>
        <br>
          <strong>Debate President:</strong>
          <%= @video2.president %>
 <br>
      <br>
    <strong>Wiki link:</strong>
    <%=link_to 'wiki', 'http://'+@president2.wiki %>
	 	     <!-- <%= button_to '(WIKI)', 'http://'+@president2.wiki %>-->
    </p>
  <br>
        <br>
 

     <h3>
  <strong>Leave Your Comment Below:</strong>
  </h3>
        <%= form_for :comment, url: comment_add2_path(@video1, @video2) do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>
        <p>
    	    <%= f.label :gender %><br>
    	    <%= f.label :gender, "male", :value => "male"  %>
    	    <%= f.radio_button :gender, "male" %>
    	    <%= f.label :gender, "female", :value => "female" %>
    	    <%= f.radio_button :gender, "female", :checked => true %>
        </p>
        <p>
          <%= f.label :age %><br>
          <%= f.text_field :age %>
        </p>

            <p>
          <%= f.submit %>
        </p>

        <div id="RotateButton2">      
 	   <div class="slideButton">
              <div class="slider"></div>
              <div class="pointer"></div>
              <div class="panel"></div>
	   </div>
	<p>Score</p>
	   <script>
	      (function(){
		           it = new Rotation2();
	                 })()
	   </script>
 	 </div>
        <% end %>
 <h3> <strong>ALL COMMENTS</strong></h3>
        <% @comments2.each do |comment| %>
        <p>
	        <strong><%= comment.created_at %></strong><br>
          <%= comment.content %>
        </p>
        <% end %>
    
      </div>
  </div>
   </div>

</body>

</html>

