	<html>
	<head>
	   <meta http-equiv="Content-Type" content="text/html; charset=gb2312" />
	   <title>President Debate Videos</title>
	   <script src="CJL.0.1.min.js"></script>
	   <script src="rotate.js"></script>
	   <%= stylesheet_link_tag "video" %>
	   <h2> &nbsp;&nbsp;The Mashup <abbr title="Cascading Style Sheets"></abbr> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Debate</h2>
	   	   	   <a href="#" class="myButton" onclick="window.location.href= '/'">Back</a>
	</head>

	<body background="">
	<div class="page-wrapper">
	<div class="main supporting" id="zen-supporting" role="main">

		<h3>
		<strong>Debate Video Title:</strong>
		<%= @video.title %>
		</h3>
  	<br>
  	  	<br>
		<p>
	  		<%= @video.embed.html_safe %>
		</p>
		<p>
	 	 <strong>Debate Topic:</strong>
	  	<%= @video.topic %>
	  	<br>
	  	<br>
	 	<strong>Debate President:</strong>
	 	  <%= @video.president %>
	 	  <%= link_to image_tag('wiki.png', size: "20x20"), 'http://'+@president.wiki %>
		</p>
  	<br>
  	  	<br>

	<h3>
	<strong>Leave Your Comment Below:</strong>
	</h3>
	  <p> </p>
      <div style="float:left">
	<%= form_for :comment, url: comment_add_path(@video) do |f| %>
	  <p> </p>
	  <p>
	    <%= f.label :comment %><br>
	    <%= f.text_area :content %>
	  </p>
	  <p>
    	<%= f.label :gender %><br>
    	<%= f.label :gender, "male", :value => "male"  %>
    	<%= f.radio_button :gender, "male" %>
    	<%= f.label :gender, "female", :value => "female" %>
    	<%= f.radio_button :gender, "female", :checked => true %>
    </p>
	  <p>
		<%= f.select(:age, [["under 20 years old", "10"], ["20-30 years old", "20"], ["30-40 years old", "30"], ["40-50 years old", "40"], ["50-60 years old", "50"],  ["over 60 years old", "60"]] ) %>
	  </p>
  	  <p>
	  <%= f.submit %>	  
	  </p>  
	 </div>
         <div style="float:left; left:500px;">
	  <div style="visibility:hidden;">  <%= f.text_field :score %></div>
	  <p id="score">
	  <%= f.label :score %>
	  </p>

	  <div id="idContainer1"> 
           <style>
            #idContainer1{border:0px solid #000;width:128px; height:118px; background: center no-repeat;  border-radius:56px;
  overflow:hidden; cursor:pointer;}
          </style>
	  <script>
	    (function(){
	                 var container = $$("idContainer1"), src = "http://imageshack.com/a/img538/6042/ERrlXE.png"
		         it = new ImageTrans1(container,"score");
	                 it.load(src);
	               })()
	  </script>

	</div>
	<p>Score Range: 1-100</p>
	<% end %>
	</div>

<div class = "comments" style="clear: both;">
	<h3> <strong>ALL COMMENTS</strong></h3>
	<% @comments.each do |comment| %>
		  <p> </p>
	  <p>
	    <strong><%= comment.created_at %></strong><br>
	    <%= comment.content %>
	    [score: <%= comment.score %>]
	  </p>
	<% end %>
</div>


	</div>
	</div>

	</body>
	</html>
