<html>

<head>
  <meta name="Unknown Team" http-equiv="Content-Type" content="text/html; charset=gb2312" />
  <script src="CJL.0.1.min.js"></script>
  <script src="rotate.js"></script>
  <%= stylesheet_link_tag "video" %>
</head>
<body background=""> 
  <div id="mainbg">
  <div class="main supporting" id="zen-supporting" role="main">
      <div id = "left">

        <h3>
<strong>Debate Video Title:</strong>
            <%= @video1.title %>
        </h3>
<br>
        <br>
        <p>
          <%= @video1.embed.html_safe %>
        </p>
    <p>
     <strong>Debate Topic:</strong>
      <%= @video1.topic %>
      <br>
      <br>
    <strong>Debate President:</strong>
      <%= @video1.president %>
    </p>
  <br>
        <br>

   <h3> <strong>ALL COMMENTS</strong></h3>
        <% @comments1.each do |comment| %>
        <p>
          <strong>Content:</strong>
          <%= comment.content %>
        </p>
        <% end %>

     <h3>
  <strong>Leave Your Comment Below:</strong>
  </h3>
        <%= form_for :comment, url: comment_add1_path(@video1, @video2) do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>
        <p>
          <%= f.label :gender %><br>
          <%= f.text_field :gender %>
        </p>
        <p>
          <%= f.label :age %><br>
          <%= f.text_field :age %>
        </p>

             <p>
          <%= f.submit %>
        </p>

        <p id="score">
          <%= f.label :score %><br>
          <!--<%= f.text_field :score %>-->
        </p>
        <div id="idContainer1"> 
          <style>
            #idContainer1{border:0px solid #000;width:48px; height:48px; background: center no-repeat;}
          </style>
          <script>
            (function(){
              var container = $$("idContainer1"), src = "http://imageshack.com/a/img661/1977/w17dUW.png",
              it = new ImageTrans1(container,"score");
              it.load(src);
            })()
          </script>
        </div>
   
        <% end %>
      </div>
    </div>

  <div class="main supporting" id="zen-supporting" role="main">
      <div id = "right">
        <h3>
            <strong>Debate Video Title:</strong>
            <%= @video2.title %>
        </h3>
<br>
        <br>
        <p>
          <%= @video2.embed.html_safe %>
        </p>

        <p>
          <strong>Debate Topic:</strong>
          <%= @video2.topic %>
       <br>
        <br>
          <strong>Debate President:</strong>
          <%= @video2.president %>
        </p>
  <br>
        <br>
  <h3> <strong>ALL COMMENTS</strong></h3>
        <% @comments2.each do |comment| %>
        <p>
          <strong>Content:</strong>
          <%= comment.content %>
        </p>
        <% end %>

     <h3>
  <strong>Leave Your Comment Below:</strong>
  </h3>
        <%= form_for :comment, url: comment_add2_path(@video1, @video2) do |f| %>
        <p>
          <%= f.label :content %><br>
          <%= f.text_area :content %>
        </p>
        <p>
          <%= f.label :gender %><br>
          <%= f.text_field :gender %>
        </p>
        <p>
          <%= f.label :age %><br>
          <%= f.text_field :age %>
        </p>

            <p>
          <%= f.submit %>
        </p>

        <p id="score2">
          <%= f.label :score %><br>
          <!--<%= f.text_field :score %>-->
        </p>
        <div id="idContainer2">
          <style>
            #idContainer2{border:0px solid #000;width:48px; height:48px; background: center no-repeat;}
          </style>
          <script>
            (function(){
              var container = $$("idContainer2"), src = "http://imageshack.com/a/img661/1977/w17dUW.png",
              it = new ImageTrans2(container,"score2");
              it.load(src);
            })()
          </script>
        </div>
    
        <% end %>

    
      </div>
  </div>
   </div>

</body>

</html>

